# Ignore some default Visual Studio output folders
/bin/
/temp/
/obj/
/.vs/

# Ignore my settings files that have sensitive data
Settings/TortoiseBotRuntimeSettings
Settings/TortoiseBotStartupSettings
TortoiseDiscordBot.args